body {
  font-family: Arial, sans-serif;
  background-image: url('../image/background.jpg');
}

#game-area {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
}

#start,
#goal {
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  position: absolute;
}

#start {
  background-color: blue;
  color: white;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#goal {
  background-color: green;
  color: white;
  top: 330px;
  left: 240px;
  cursor: pointer;
}

.wall {
  position: absolute;
  height: 50px;
  background-color: black;
}

/* 장애물 위치 설정 */
.wall:nth-child(2) {
  top: 80px;
  width: 550px;
  height: 50px;
}

.wall:nth-child(3) {
  top: 80px;
  left: 500px;
  width: 50px;
  height: 470px;
}

.wall:nth-child(4) {
  top: 500px;
  left: 70px;
  width: 430px;
  height: 50px;
}

.wall:nth-child(5) {
  top: 190px;
  left: 70px;
  width: 50px;
  height: 350px;
}

.wall:nth-child(6) {
  top: 190px;
  left: 70px;
  width: 350px;
  height: 50px;
}

.wall:nth-child(7) {
  top: 190px;
  left: 400px;
  width: 50px;
  height: 250px;
}

.wall:nth-child(8) {
  top: 400px;
  left: 200px;
  width: 200px;
  height: 50px;
}

.wall:nth-child(9) {
  top: 280px;
  left: 180px;
  width: 50px;
  height: 150px;
}

.wall:nth-child(10) {
  top: 270px;
  left: 170px;
  width: 150px;
  height: 50px;
}

.wall:nth-child(11) {
  top: 0px;
  left: 100px;
  width: 50px;
  height: 30px;
  animation: wall-move1 2s infinite linear;
}

.wall:nth-child(12) {
  top: 0px;
  left: 200px;
  width: 50px;
  height: 30px;
  animation: wall-move1 0.7s infinite linear;
}

.wall:nth-child(13) {
  top: 0px;
  left: 300px;
  width: 50px;
  height: 30px;
  animation: wall-move1 1s infinite linear;
}

.wall:nth-child(14) {
  top: 0px;
  left: 400px;
  width: 50px;
  height: 30px;
  animation: wall-move1 1.3s infinite linear;
}

.wall:nth-child(15) {
  top: 0px;
  left: 500px;
  width: 50px;
  height: 30px;
  animation: wall-move1 1s infinite linear;
}

@keyframes wall-move1 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 600px);
  }
}

.wall:nth-child(16) {
  top: 100px;
  left: 650px;
  width: 30px;
  height: 50px;
  animation: wall-move2 1s infinite linear;
}

.wall:nth-child(17) {
  top: 200px;
  left: 650px;
  width: 30px;
  height: 40px;
  animation: wall-move2 0.5s infinite linear;
}

.wall:nth-child(18) {
  top: 300px;
  left: 650px;
  width: 30px;
  height: 50px;
  animation: wall-move2 2s infinite linear;
}

.wall:nth-child(19) {
  top: 400px;
  left: 650px;
  width: 30px;
  height: 50px;
  animation: wall-move2 0.7s infinite linear;
}

.wall:nth-child(20) {
  top: 500px;
  left: 650px;
  width: 30px;
  height: 50px;
  animation: wall-move2 2s infinite linear;
}

@keyframes wall-move2 {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-800px, 0);
  }
}
